kafka-python-ng==2.2.3
google-api-python-client==2.196.0
pandas==2.2.3
pyarrow==18.1.0
pymongo==4.10.1
elasticsearch==8.16.0
textblob==0.18.0.post0
pyspark==3.5.1
pytest==8.3.3
python-dotenv==1.0.1
transformers==4.46.3
torch==2.5.1
